<!doctype html>
<html lang="en">
<head>
    <title>Top secret illuminati detector</title>
</head>
<body>
    <h1>Top secret illuminati detector</h1>
    <p>
        Select an image and the highly advanced algorithm will try and detect if illuminati is present. This is a
        <b>very</b> early alpha just to see if I could do it. Please don't share it yet because it's quite shit at the
        moment. If you want to contribute to the project then please check out
        <a href="https://github.com/Mechazawa/illuminati-detector">the github repo</a>.
    </p>
    <form method="post" enctype="multipart/form-data" action="/find">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>
</body>
</html>